.cabecalho {
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.23em;
	color: #FFF;
}

.cabecalho__logo {
	padding: 1.5em 0;
	width: 14.5em;
}

.cabecalho__menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: #272B3A87;
}

.cabecalho__item-menu {
	display: inline-block;
}

.cabecalho__item-menu a {
	display: inline-block;
	padding: 1.86em 1.42em;
}

.cabecalho__item-menu:hover {
	text-shadow: 3px 3px 5px #000;
    transform: scale(1.05);
	color: #e93d50;
}

@media (min-width: 640px) {
	.cabecalho {
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cabecalho__logo {
		padding: 2.5em 0;
	}
	.cabecalho__menu {
		background-color: transparent;
	}
}

@media (min-width: 770px) {
	.cabecalho__item-menu--matricular {
		background-color: #e93d50;
		margin-left: 1.42em;
		border-radius: 6px;
	}
	.cabecalho__item-menu--matricular a {
		padding: 1.8em 3.5em;
	}
	.cabecalho__item-menu--matricular:hover {
		transform: translate(0, .22rem);
		transition: .25s;
		color: #fff;
	}
}